<!DOCTYPE html>
<html>
    <head>
        <title>電卓アプリ</title>
        <script src="static/script.js"></script>
    </head>
    <body>
        <h1>電卓アプリ</h1>
        <form id="calcForm" action="/calculate" method="post">
            <label for="num1">数字1:</label>
            <input type="text" id="num1" name="num1" required>
            <br>
            <label for="num2">数字2:</label>
            <input type="text" id="num2" name="num2" required>
            <br><br>
            <input type="hidden" id="operation" name="operation">
            <button type="button" onclick="calculate('+')">+</button>
            <button type="button" onclick="calculate('-')">-</button>
            <button type="button" onclick="calculate('*')">*</button>
            <button type="button" onclick="calculate('/')">/</button>

        </form>
    </body>

</html>
