<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TODOアプリ</title>
        <script src="/static/script.js" defer></script>
    </head>
    <body>
        <h1>TODOアプリ</h1>
        <form>
            <input type="text" id="todoInput" placeholder="新しいTODOを入力" required>
            <button type="submit">追加</button>
        </form>
        <ul id="todoList"></ul>
    </body>

</html>
